extends ../_layout

block content
	.page-header
		h3 My SelfKey Wallet
		
		pre= user

		for item in user.attributes
			pre= item.data.value
		br
		img(src=`${imagebase}${user.selfkey_wallet}/id_selfie.jpg`, width='540px')
		img(src=`${imagebase}${user.selfkey_wallet}/national_id.jpg`, width='540px')
